%h1 Paintr

#selected_color.box
.pickers
  #color_form
    = text_field_tag 'color', nil, :autofocus => true
    = button_tag 'Add Color', :id => 'add_color'
  #image_form
    = text_field_tag 'img_url', nil
    = button_tag 'Add image', :id => 'add_img'
#palette
  #color_divs
  #image_divs

#canvas
  - 2000.times do
    .paint_box